<!DOCTYPE html>
<html>
  <head>
    <title>Agile Dashboard - Recommendations</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script>
      window.addEventListener("beforeunload", function (event) {
        // Check if the target URL is outside the current domain
        if (
          !event.currentTarget.location.href.startsWith(window.location.origin)
        ) {
          // Send logout request to server
          fetch("/logout", { method: "POST" });
        }
      });
      function logout() {
        fetch("/logout", { method: "POST" });
      }
    </script>
  </head>
  <body>
    <h2>Product Recommendations</h2>
    <div style="display: flex; justify-content: end">
      <a
        style="align-items: end"
        onclick="logout()"
        href="{{url_for('auth.login')}}"
        class="previous"
        >logout</a
      >
    </div>
    {% set shuffled_products = products|shuffle %}
    <div class="product-container">
      {% for product in shuffled_products %}
      <div class="product-tile">
        <img
          src="{{ product['Primary_Image'] }}"
          alt="{{ product['Title'] }}"
        />
        <h3>{{ product['Product_Name'] }}</h3>
        <p>Price: {{ product['Current_Price'] }}₹</p>
        <p class="strikethrough-text">
          Original Price: {{ product['Original_Price'] }}₹
        </p>
        <a href="{{ product['Product_Link'] }}" target="_blank">View Product</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
